@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --color-background: #FAFAFA;
    --color-background-secondary: #F5F5F5;
    --color-text: #212121; /*#484E53*/
    --color-text-secondary: #4A4A4A;
    --color-accent: #E29400;
    --color-border: #D1D1D1;
    

}

:root.dark {
    --color-background: #121212;
    --color-background-secondary: #1E1E1E;
    --color-text: #EDEDED; /*#E1E1E1;*/
    --color-text-secondary: #BDBDBD;
    --color-accent: #FFC107;
    --color-border: #383838;

    
    
}

.sun-icon {
    @apply opacity-100 scale-100 rotate-0 dark:opacity-0 dark:scale-0 dark:rotate-90;
  }
  
.moon-icon {
    @apply opacity-0 scale-0 -rotate-90 dark:opacity-100 dark:scale-100 dark:rotate-0;
}
  
