<main class="flex flex-col items-center justify-center mt-30">
    <img class="rounded-full w-49 h-49" src="/logo.jpg" alt="logo"/>
    <h1 class="text-6xl font-bold text-center mt-5 text-(--color-text-secondary) dark:text-white font-[Poppins_700] ">Diego González Moreno</h1>
    <p class="text-2xl font-semibold text-center mt-2 font-[Poppins_600] bg-gradient-to-r from-(--color-accent) to-(--color-text-secondary) dark:to-white inline-block text-transparent bg-clip-text">Desarrollador Full Stack</p>
    <p class="text-xl text-(--color-text-secondary) font-medium text-center mt-3 font-[Poppins_500] max-w-3xl px-3">Apasionado por crear sistemas escalables y eficientes, con experiencia demostrada en proyectos que optimizan procesos y generan valor medible. Mi objetivo es aplicar mis conocimientos y habilidades en un entorno profesional para contribuir al desarrollo de soluciones tecnológicas efectivas</p>
    <div class="flex gap-5 mt-5">
        <a href="/contact" class="border border-(--color-accent) text-(--color-text) px-8 py-2 rounded-2xl font-medium font-[Poppins_500]">Contactame</a>
        <a href="/contact" class="border border-(--color-accent) text-(--color-text) px-8 py-2 rounded-2xl font-medium font-[Poppins_500]">Descargar CV</a>
    </div>
    
    <div class="flex gap-5 mt-40" >
        <p class="text-4xl py-1 font-extrabold text-center font-[Poppins_800] bg-gradient-to-r from-(--color-accent) to-(--color-text-secondary) dark:to-white inline-block text-transparent bg-clip-text" >Tengo conocimientos en</p>
    </div>
    <div class="flex gap-7 mt-2 px-3" >
        <i class="devicon-nextjs-original-wordmark text-9xl"></i>
        <i class="devicon-vuejs-plain-wordmark text-7xl content-center"></i>
        <i class="devicon-nestjs-original-wordmark text-9xl"></i>
        <i class="devicon-express-original-wordmark text-9xl"></i>
        <i class="devicon-nodejs-plain-wordmark text-9xl"></i>
        <i class="devicon-django-plain-wordmark text-9xl"></i>
    </div>
</main>
