---
import "../styles/global.css";
import '@fontsource-variable/onest';
import Header from "../components/Header.astro";

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio</title>
		<script>
			if (
			  localStorage.theme === 'dark' ||
			  (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
			) {
			  document.documentElement.classList.add('dark');
			} else {
			  document.documentElement.classList.remove('dark');
			}
		  </script>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<style is:global>

	html {
		font-family: 'Onest Variable', system-ui, sans-serif;
		color: var(--color-text);
		background: var(--color-background);
	}

	body {
		display: flex;
		justify-content: center;
	}

</style>
