---
import "../styles/global.css";
import '@fontsource-variable/onest';
import '@fontsource/poppins/800.css';
import '@fontsource/poppins/700.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/500.css';
import Header from "../components/Header.astro";
import Home from "../components/Home.astro";
import Experience from "../components/Experience.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio</title>
		<script>
			if (
			  localStorage.theme === 'dark' ||
			  (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
			) {
			  document.documentElement.classList.add('dark');
			} else {
			  document.documentElement.classList.remove('dark');
			}
		  </script>
	</head>
	<body>
		<Header />
		<Home />
		<Experience />
		<slot />
	</body>
</html>

<style is:global>

	html {
		font-family: 'Onest Variable', 'Poppins' ,system-ui, sans-serif;
		color: var(--color-text);
		background: var(--color-background);
	}

	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

</style>
